body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #181825;
}

.circle-container {
    position: relative;
    width: 97%; /* Adjust the container size as needed */
    height: 95%; /* Adjust the container size as needed */
    background-color: #1E1E2E;
    border-radius: 10px; /* Adjust the border radius as needed */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Box shadow properties */
}

.custom-circle {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Box shadow properties */
}


