body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1E1E2E;
}

.circle-container {
    position: relative;
    width: 50%; /* Adjust the container size as needed */
    height: 80%; /* Adjust the container size as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.circle {
    position: absolute;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.circle:hover {
    transform: scale(1.2);
}
