body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.categories-container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.category {
    position: absolute;
    border-radius: 50%;
    background-color: #3498db;
    transition: all 0.3s;
    transform: translate(-50%, -50%); /* Center the circle based on its position */
}

#sports {
    background-color: #dc8a78;
}

#enterainment {
    background-color: #dd7878;
}

#technology {
    background-color: #ea76cb;
}

#health {
    background-color: #8839ef;
}

#travel {
    background-color: #d20f39;
}

/* Add colors for other categories as needed */
